<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>accelerometer</key>
		<true/>
		<key>opengles-1</key>
		<true/>
	</dict>
	<key>appleId</key>
	<string>Locophone-ICPDA@cracked.by</string>
	<key>purchaseDate</key>
	<date>2021-02-04T09:09:09Z</date>
	<key>artistId</key>
	<integer>414027834</integer>
	<key>artistName</key>
	<string>RobTop Games AB</string>
	<key>bundleDisplayName</key>
	<string>Geometry314</string>
	<key>bundleShortVersionString</key>
	<string>2.11</string>
	<key>bundleVersion</key>
	<string>2.1.1</string>
	<key>copyright</key>
	<string>© 2015 RobTop Games AB</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<true/>
	<key>gameCenterEverEnabled</key>
	<true/>
	<key>genre</key>
	<string>Games</string>
	<key>genreId</key>
	<integer>6014</integer>
	<key>itemId</key>
	<integer>625334537</integer>
	<key>itemName</key>
	<string>iCreate</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>RobTop Games AB</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.UNRESTRICTED_WEB_ACCESS and Advisory.NO.GAMBLING_CONTESTS</string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2013-08-13T07:00:00Z</string>
	<key>s</key>
	<integer>143461</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a1413.phobos.apple.com/us/r30/Purple128/v4/2d/fe/20/2dfe2014-4cc1-aa24-58fd-df292fd2924c/CRV_AP_150x90.lsr</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.robtop.geometryjump</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>824424756</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>14839673</integer>
		<integer>20722643</integer>
		<integer>62822639</integer>
		<integer>83002729</integer>
		<integer>128822636</integer>
		<integer>251842642</integer>
		<integer>268502738</integer>
		<integer>336632644</integer>
		<integer>353502631</integer>
		<integer>469042654</integer>
		<integer>513282659</integer>
		<integer>589453207</integer>
		<integer>592412723</integer>
		<integer>654493788</integer>
		<integer>663072861</integer>
		<integer>778572707</integer>
		<integer>804232758</integer>
		<integer>810843122</integer>
		<integer>811607814</integer>
		<integer>811738754</integer>
		<integer>813113482</integer>
		<integer>813566063</integer>
		<integer>813579711</integer>
		<integer>813702763</integer>
		<integer>819958480</integer>
		<integer>824424756</integer>
	</array>
	<key>subgenres</key>
	<array>
		<dict>
			<key>genre</key>
			<string>Arcade</string>
			<key>genreId</key>
			<integer>7003</integer>
		</dict>
		<dict>
			<key>genre</key>
			<string>Music</string>
			<key>genreId</key>
			<integer>7011</integer>
		</dict>
	</array>
	<key>vendorId</key>
	<integer>402168</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>

